* {
  margin:0;
  padding:0;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: #F7F8FA;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 2%;
  background-color: #1AC073;
  gap: 50px;
  color: white;
}

.logo {
  font-family: "Squada One", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: 300;
  letter-spacing: 1px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #F3BA00;
}

/* Homepage Layout */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  flex-wrap: wrap;
  background-color: #1AC073;
  color: white;
}

/* Hero Section */
.hero {
  max-width: 50%;
  text-align: left;
}

.hero .heading {
  font-size: 68px;
  font-weight: 350;
  margin-bottom: 15px;
  margin-top: -80px;
}

pre{
  font: 'Rubik', 'sans-serif';
}

.hero pre {
  font-size: 14px;
  margin-bottom: 40px;
}

.search-box {
  display: flex;
  max-width: 90%;
  width: 25.4em;
  border-radius: 10px;
  overflow: hidden;
  height: max-content;
}

.search-box input {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-box button {
  background-color: #F3BA00;
  color: white;
  padding: 12px 32px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #d9a200;
}

/* Illustration */
.illustration {
  max-width: 45%;
  height: auto;
  padding-top: 7.5%;
  padding-right: 1%;
}


/* kitchen */
.kitchen {
  padding: 5%;
  padding-bottom: 0px;
  background-color: #F7F8FA;
  color: black;
}

.kitchen .heading {
  margin-top: 20px;
  margin-left: 55px;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 15px;
}

#kitchen-items {
  padding: 4%;
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px;
}

.food-item {
  flex-basis: calc(25% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow: hidden;
  position: relative;
  margin-bottom: 45px;
}

@media (max-width: 1024px) {
  .food-item {
    flex-basis: calc(33.33% - 11px);
  }
}

@media (max-width: 768px) {
  .food-item {
    flex-basis: calc(50% - 8px);
  }
}

@media (max-width: 480px) {
  .food-item {
    flex-basis: 100%;
  }
}

.discount {
  background-color: #F3BA00;
  font-size: 11px;
  padding: 10px 6px;
  position: absolute;
  border-radius: 5px;
  left: 0px;
  top: 0px;
}

.item-image {
  height: 260px;
  object-fit: cover;
  width: 100%;
}

.item-details {
  padding: 5px 16px;
  padding-bottom: 5px;
}

.item-details .name {
  font-size: 16px;
  font-weight: 300;
}

.item-details div{
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}

.item-price {
  font-size: 16px;
  font-weight: 300;
}

.item-rating {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #333;
    letter-spacing: 1x;
    gap: 5px;
}

.item-rating span {
    background: #f0f0f0;
    color: #333;
    padding: 2px 6px;
    border-radius: 8px;
}

#delivery-time {
  background: #F7F8FA;
  border-left: 4px solid #bebebe;
  border-right: 4px solid #bebebe;
  border-radius: 8px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 4px 6px;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  font-weight: bolder;
}


/* Popular Items */
.card-group {
  position: relative;
  left: 9%;
display: flex;
width: 100%;
transition: transform 1s ease-in-out;
gap: 45px;
}

.card {
min-width: 284px;
background: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
text-align: center;
}

.popular-items-section {
  background-color: #F7F8FA;
  position: relative;
  padding: 20px;
  max-width: 79%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 37px;
}

.move-icon {
  position: absolute;
  top: 40%;
  scale: 0.7;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.move-prev {
  left: -20px;
}

.move-back {
  right: -20px;
}

.circle {
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: 0.3s ease;
}

.circle:hover .hollow {
  fill: #1AC073; /* Green fill for the hollow area */
}

.circle:hover .play {
  fill: white; /* White play button */
}

.play{
  border-radius: 10px;
}

.request-btn {
  display: block;
  margin: 85px auto;
  padding: 15px 53px;
  background-color: #1AC073;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.request-btn:hover {
  background-color: #059669;
}

/* Service Section */

.service {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55rem;
}
.head {
  font-size: 40px;
  margin-top: 5%;
  color: #252B42;
  font-weight: bolder;
  letter-spacing: 1;
}
.head2 {
  color: #737373;
  margin-top: 1.5%;
}

.top-section {
  flex: 6.5;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.bottom-section {
  flex: 3.5;
  background-color: #C7EACC; 
  padding: 20px;
}

.service__video-container {
  position: absolute;
  top: 35%;
  left:20%;
  width: 100%;
  max-width: 60vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.playButton:hover {
  opacity: 1;
}

.playButton:focus {
  outline: none;
}

/* Contact Us Section */
.contact-us {
  padding: 5rem 1rem;
  background-color: #F7F8FA;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100vw;
  gap: 2rem;
}

.form-section {
  flex: 5;
  padding-left: 8%;
}

.title {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #065f46;
}

.subtitle {
  font-size: 11px;
  color: #4b5563;
  margin-bottom: 1.5rem;
}

.form-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
}

form{
  padding-top: 15px;
}

.input-field {
  width: 40%;
  padding: 20px 20px;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #10b981;
}

.textarea-field {
  width: 91%;
  padding: 24px 15px;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  resize: none;
  outline: none;
  height: 115px;
  margin-bottom: 1rem;
  transition: border-color 0.3s;
}

.textarea-field:focus {
  border-color: #10b981;
}

.submit-button {
  margin: 10px 0px;
  background-color: #1ac073;
  color: white;
  padding: 22px 82px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #059669;
}

.image-section {
  flex: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  height: auto;
  border-radius: 50%;
}

/* Footer Styling */
.footer {
  background-color: #1ac073; /* Green background */
  padding: 38px 0;
  text-align: center;
  color: white;
}

.footer .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.nav-links{
  margin-bottom: 16px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
}

.social-icons svg {
  width: 18px;
  height: 16px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.divider {
  width: 82%;
  margin: 10px auto;
  border: 0.5px solid white;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
  width: 70vw;
}

.cart-icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.cart-content div {
  font-size: xx-large;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

.cart-content p {
  color: #666;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 20px;
}

.back-to-menu {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.show {
  display: flex;
}

body.overlay-open {
  overflow: hidden;
}

.dish-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s;
}

.dish-overlay.active {
  visibility: visible;
  opacity: 1;
}

.dish-overlay-content {
  background: white;
  padding: 5%;
  height: 65vh;
  width: 70vw;
  border-radius: 20px;
  text-align: center;
}

.dish-overlay-content form{
  margin: 5% 0;
}

.dish-overlay h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.dish-form-group {
  color: #333;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 15px;
}

.dish-form-group input {
  width: 100%;
  padding: 15px;
  background-color: #F2F2F2;
  border: 0px;
  border-radius: 5px;
  margin-top: 5px;
}

.dish-button-group {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dish-cancel-btn {
  width: 20%;
  background: white;
  border: 2px solid #1AC073;
  color: #1AC073;
  padding: 20px 35px;
  border-radius: 10px;
  cursor: pointer;
}

.dish-submit-btn {
  background: #1AC073;
  color: white;
  border: none;
  padding: 20px 35px;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
}